:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logoClass{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
}

.landingHeader{
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin-top: 2.25em;
}

.landingHeaderGreen{
  display: block;
  color: #1DB954;
  font-weight: 600;
}


.landingHeroArtwork{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 600px;
}

.login-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 12.5px 40px 12.5px 40px;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 15px; 
}

.copy-tag{
  position: relative;
  text-align: center;
  font-size: 15px;
  margin: 2em auto;
  color: #fff;
  background-color: #171717;
  padding: 0.25px 20px 0.25px 20px;
  width:350px;
  border-radius: 40px;
  border: 1px solid #4a4747;
}

